# Blockchain Config
NEXT_PUBLIC_AMOY_RPC_URL=https://polygon.technology
NEXT_PUBLIC_CONTRACT_ADDRESS=0x83dD...3445

# Backend / API Keys (Si aplica)
PRIVATE_KEY_VALIDATOR=tu_clave_privada_aqui_no_real
NEXT_PUBLIC_APP_URL=http://localhost:3000
