# Blockchain (Amoy)
NEXT_PUBLIC_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
NEXT_PUBLIC_CONTRACT_ADDRESS=0x83dD000C8D2E6eF0125cEe28b6e070a7A41d3445

# Solo para scripts (NUNCA subas tu private key real)
PRIVATE_KEY_VALIDATOR=tu_private_key_solo_para_pruebas
